.mypost_header{
    display: flex;
    flex-direction: row;

}
.image1{
    width:550px;
    height:400px;

}
.footers{

}
.footersinn{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.footers{
    display: flex;
    flex-direction: row;
    position: relative;
    align-content: space-between;
    /* left: 3px; */
}